* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.topbar {
  /*background: lightgreen;*/
  height: 150px;
  z-index: 3;
  position: relative;
}




.icon-intro {
  position: absolute;
  top: 350%;
  left: 70%;
  width: 400px;
  height: 75px;
  padding-left: 50px;
  text-align: center;
}


.btn-socmed{
  display: inline-block;
  width: 50px;
  height: 70%;
  margin: 10px;
  border-radius: 30%;
  color: #3498db;
  box-shadow: 0 5px 15px -5px #00000070;
  overflow: hidden;
  position: relative;

}

.btn-socmed i{
  line-height: 50px;
  font-size: 30px;
}

.btn-socmed:hover i{
  transform: scale(1.3);
  color: #f1f1f1;

}

.btn-socmed::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn-socmed:hover::before{
  animation: aaa 0.3s 1;
  top: -10%
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: -110%;
    top: 30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}




.top-ads {
  height: 50%;
  display: flex;
  justify-content: center;
  color: white;
  /*padding-top: 10px;*/
  background: black;

  
}

.img-ads2 {
  /*position: absolute;*/
  /*left: 5%;*/
  /*top: 0%;*/
  height: 100px;
  width: auto;
  /*padding-top: 0px;*/
  margin-left: -50px;
  margin-right: 25px;
}


.free-ads {
  
  vertical-align: middle;
  width: 530px;
  /*background: red;*/
  font-size: 30px;
  margin: auto 0;
  text-align: center;
}

.btn-ads {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 2px 10px;
  border-radius: 8px;
  margin: auto 0;
  border: 1px solid #EA7771;
  background-color: #EA7771;
  margin-right: 15px;
  margin-left: 10px;
  
}

.btn-ads:hover,
.btn-ads:active {
    opacity: 0.75;
}

.img-ads {

  height: 100%;
  width: auto;
}



.banner {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

 

video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
}


.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #595960;
  opacity: 0.45;

}

.content {
  position: absolute;
  left: 15%;
  top: 40%;
  z-index: 2;
  color: white;
  /*background: red;*/
  
}

h1 {
  font-size: 70px;
  margin-bottom: 10px;
  word-spacing: 3px;
  letter-spacing: 3px;

}

.slogan {
  font-size: 25px;
  margin-bottom: 20px;

}


#btn-intro {
  text-decoration: none;
  font-size: 25px;
  color: white;
  border: 1px solid #6793F6;
  background: #6793F6;
  padding: 15px 20px;
  border-radius: 15px;
  margin-left: 10px;
  transition: 0.2s;

}

#btn-intro:hover,
#btn-intro:active {
    background-color: #65EE35;
    color: black;
    border: 1px solid #65EE35;
    box-shadow: 0 0 5px #65EE35,
                0 0 25px #65EE35,
                0 0 50px #65EE35,
                0 0 200px #65EE35;

}



