*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background-color: #F4F6F6;
	
}

/*Start of header and top background*/
.dropdown {
	margin: 0 auto;
	width: 100%;
	height: 100px;
	background: #B3B6B7;
}

.navtop{
	height: 100px;
	font-family: 'Source Serif Pro', serif;
}

.logo {
	padding: 5px 0 0 80px;
	width: 300px;
	height: auto;
}

.menu {
	width: 600px;
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
	display: inline;
	text-decoration: none;

}

.playlist{
	margin-top: 10px;
	padding: 1px;
	position: relative;
	list-style: none;
	display: inline-block;
	
}

.pl{
	display: block;
	letter-spacing: 1px;
	padding: 0 10px;
	color: black;
	text-decoration: none;
	line-height: 60px;
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 0px;
}

.pl:hover{
	opacity: 0.3;
}

.listdown{
	position: absolute;
	left: -20px;
	top: 50px;
	display: none;
	padding-top: 0;
}

.select:hover .listdown{
	display: block;
	background: white;
	height: 80px;
	width: 110px;
	margin-left: 20px;
	list-style: none;

}

.playlist1{
	display: block;
	width: 120px;
	float: left;
	height: 25px;
	display: list-item;
	position: relative;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;


}
.down {

	line-height: 30px;
	margin-left: 10px;
	color: black;
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
}

.down:hover{
	opacity: 0.3;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding-left: 30px;
	padding-right: 30px;

}


/*End of header and top background*/

/*Start of button up arrow*/

.arrowup{
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 10;
}

.arrowup a{
	height: 40px;
	width: 40px;
	text-align: center;
	display: block;
	border-radius: 3px;
	cursor: pointer;
}

.arrowup a i {
	color: black;
	line-height: 40px;
	font-size: 40px;
}

.arrowup a i:hover {
	color: blue;
}
/*End of button up arr*/

/*Start of the Body Book*/
.container{
	width: 100%;
	height: 700px;
	/*background: red;*/
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-flow: dense;
	grid-gap: 15px;

}


.steps{
	width: 70%;
	height: 90%;
	/*background: yellow;*/
	margin: auto 0;
	/*display: block;*/

}

.box{
	width: 70%;
	height: 80%;
	display: block;
	background: #3498DB;
	margin: auto 0;
	line-height: 40px;
	margin-left: 15px;
	border: 2px solid black;
	font-size: 30px;
	padding-top: 30px;
	padding-left: 30px;
	/*text-align: center;*/
	/*position: relative;*/
	/*overflow: hidden;*/
	/*position: relative;*/
}
.inside{
	/*margin: auto;*/

}
.inside:nth-child(1){
	grid-column: span 1;
	grid-row: span 1;
	/*grid-column-end: 1;*/
	justify-self: End;
}

.inside:nth-child(2){
	grid-column: span 1;
	grid-row: span 1;
}

.text{
	font-size: 20px;
	line-height: 50px;
	padding-bottom: 20px;
	/*background: pink;*/
}

.step-in{
	font-size: 30px;
	font-weight: bold;
	


}
.numero{
	border: 1px solid white;
	border-radius: 50%;
	padding: 5px 17px;
	background: #2874A6 ;
	color: white;
	font-family: 'Anton', sans-serif;
}

.square-in{
	width: 90%;
	height: 30px;
	padding-left: 10px;
	background: #3498DB;
	border: none;
	border-bottom: 1px solid white;

}
.keri{
	margin-top: 10px;
	width: 90%;
	height: 100px;
	font-weight: bold;
}

#date, #optionsmo, .timeinput{
	width: 90%;
	height: 25px;
	border: none;
	border-bottom: 1px solid white;
	background: #3498DB;
}

#submit{
	padding: 15px;
	border-bottom: 1px solid white;
	background: #2874A6;
	border-radius: 15px;
}

#submit:hover{
	opacity: 0.3;
}

.last{
	/*font-size: 20px;*/
}


/*End of the Body Book*/

/*Footer*/
.footer{
	position: relative;
	clear: both;
	background: #26262D;
	opacity: 0.85;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 400px;
}

.paa{
	display: flex;
	justify-content: center;
	padding-top: 40px;

}


.paa2{
	padding-left: 30px;
	color: white;
	font-size: 30px;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding:15px 30px;
	margin-top: -10px;
	text-decoration: none;
}

.book:hover {
	opacity: 0.3;
}

.hr{
	display: flex;
	margin: 50px 0px;
	justify-content: center;
}
hr {
	color: white;
	width: 80%;
}

.foot{
	display: table;
	width: 70%;
	/*background: red;*/
	text-align: center;
	margin: 0 auto
}


.bottom{
	
	display: flex;
	justify-content: flex-start;
	text-align: left;
}

.bot{
	
	display: table-cell;
	padding: 10px;
	width: 33.33%;
}

.botbot{
	list-style: none;
	color: white;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 20px;
}

.bot2{
	letter-spacing: 2px;
	color: white;
	line-height: 30px;
}
.hour{
	padding-bottom: 20px;
}


.sm{
	display: inline-block;
	width: 50px;
	height: 70%;
	margin: 10px;
	color: white;
	overflow: hidden;
	position: relative;
}
.fab{
	line-height: 50px;
	font-size: 30px;
}

.dulo{
	width: 100%;
	height: 50px;
	text-align: center;
	background: #1C2833;
	line-height: 50px;
	color: white;
	letter-spacing: 3px;
	word-spacing: 2px;
}

.deep{
	font-size: 10px;
}
