*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background-color: #F4F6F6;
	
}

/*Start of header and top background*/
.dropdown {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background-image: url(../images/den2.jpeg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.navtop{
	height: 100px;
	font-family: 'Source Serif Pro', serif;
}

.logo {
	padding: 5px 0 0 80px;
	width: 300px;
	height: auto;
}

.menu {
	width: 600px;
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
	display: inline;
	text-decoration: none;

}

.playlist{
	margin-top: 10px;
	padding: 1px;
	position: relative;
	list-style: none;
	display: inline-block;
	
}

.pl{
	display: block;
	letter-spacing: 1px;
	padding: 0 10px;
	color: black;
	text-decoration: none;
	line-height: 60px;
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 0px;
}

.pl:hover{
	opacity: 0.3;
}

.listdown{
	position: absolute;
	left: -20px;
	top: 50px;
	display: none;
	padding-top: 0;
}

.select:hover .listdown{
	display: block;
	background: white;
	height: 80px;
	width: 110px;
	margin-left: 20px;
	list-style: none;

}

.playlist1{
	display: block;
	width: 120px;
	float: left;
	height: 25px;
	display: list-item;
	position: relative;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;


}
.down {

	line-height: 30px;
	margin-left: 10px;
	color: black;
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
}

.down:hover{
	opacity: 0.3;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding-left: 30px;
	padding-right: 30px;

}
.pic-caption{
	position: absolute;
	right: 30px;
	top: 180px;
	width: 600px;
	height: 100px;
	font-size: 40px;
	color: #2874A6;
	padding-left: 10px;
}
.caption2{
	position: relative;
}

/*End of header and top background*/

/*Start of button up arrow*/

.arrowup{
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 10;
}

.arrowup a{
	height: 40px;
	width: 40px;
	text-align: center;
	display: block;
	border-radius: 3px;
	cursor: pointer;
}

.arrowup a i {
	color: black;
	line-height: 40px;
	font-size: 40px;
}

.arrowup a i:hover {
	color: blue;
}
/*End of button up arr

/*Start of about us*/

#aboutus{
	width: 100%;
	margin: 0 auto;
}
#aboutus h1{
	width: 200px;
	color: black;
	margin-left: 75px;
	margin-bottom: 30px;
	padding-top: 50px;

}
#aboutus .blockquote{
	margin: 0 auto;
	max-width: 750px;
	box-sizing: border-box;
	color: #3498DB;
}

#aboutus .blockquote .qoute{
	text-align: center;
	line-height: 1.5;
	width: 750px;
	font-size: 30px;
	letter-spacing: 3px;
	word-spacing: 3px;
	font-family: 'Gelasio', serif;
}

#aboutus .blockquote .mj{
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 50px;
}

#aboutus .blockquote .mj::before {
	content: "\2014\0020";
}

.qoute::before{
	content: "\201c";
	font-size: 60px;
	display: block;
	text-align: left;
	height: 40px;
}


.con-about{
	background: #FDFEFE;
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.team{
	position: absolute;
	z-index: 2;
	top: 40%;
	left: 20%;
	font-size: 80px;
	width: 800px;
	height: 200px;
	color: white;
	/*background: red;*/
	letter-spacing: 2px;
	word-spacing: 3px;
	/*position: relative;*/
	text-align: center;
}

.gallery{
	position: relative;
	margin: 10px auto;
	width: 90%;
	height: 100%;
	display: grid;
	padding: 30px 0;
	grid-template-columns: auto auto auto auto;
	grid-auto-flow: dense;
	grid-gap: 5px;
	padding-bottom: 20px;
}

.pangalan{
	position: absolute;
	bottom: 10px;
	left: 10px;
	transform: scaleY(0);
	transition: transform 0.5s;
	color: black;
}

.img:hover .pangalan{
	transform: scaleY(1);
}


.img{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.img:nth-child(1){
	grid-column-start: span 2;
	grid-row-start: span 2;
}

.img:nth-child(2){
	grid-row-start: span 1;
}

.img:nth-child(3){
	grid-column-start: span 2;
	grid-row-start: span 2;	
}

.imahe{
	max-width: 100%;
	height: auto;
	position: relative;
	object-fit: cover;
	overflow: hidden;
	filter: brightness(0.5) grayscale(100);
	transition: 0.3s ease-in-out;
}

.imahe:hover{
	filter: brightness(1) grayscale(0);
	transform: scale(1.5);
}

/*End of About Us*/

/*Start of our office*/


.clinic{
	position: relative;
	padding-left: 40px;
	background: white;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 3px;
	padding-bottom: 20px;
}
.ouroffice{
	padding-top: 50px;
	background: white;
	width: 100%;
	height: 100vh;
}

.off-content{
	margin-left: 75px;
	
}
.off-inside{
	font-size: 20px;
	margin-left: 25px;

	letter-spacing: 2px;
	word-spacing: 5px;
	line-height: 50px;
	font-family: 'Libre Franklin', sans-serif;
}

.para1, .para2{
	padding: 50px;
	float: left;
	width: 50%;
	height: 500px;
}

/*Start of the slideshow*/

.in-slideshow{
	background: white;
	position: relative;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}
.slidershow{
	width: 800px;
	height: 500px;
	overflow: hidden;
	border: 2px solid black;	
}

.navigation{
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.bar{
	width: 50px;
	height: 10px;
	border: 2px solid black;
	margin: 6px;
	cursor: pointer;
	transition: 0.3s;
	background: black;
}

.bar:hover{
	background: white;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 500%;
	height: 100%;
	display: flex;
}

.slidepic{
	width: 20%;
	transition: 0.6s;
}

.img{
	width: 100%;
	height: 100%;
}

#r1:checked ~ .p1{
	margin-left: 0;
}
#r2:checked ~ .p1{
	margin-left: -20%;
}

#r3:checked ~ .p1{
	margin-left: -40%;
}
#r4:checked ~ .p1{
	margin-left: -60%;
}

/*End of our office*/


/*Start of the Review*/
.review{
	width: 100%;
	height: 800px;
	display: block;
	position: relative;
}

.rev-title{
	margin-left: 75px;
	padding-top: 50px;
	margin-bottom: 30px;
}

.rev-container{
	width: 90%;
	margin: 20px auto;
	display: table;
}

.revrow{
	
	font-family: 'Gelasio', serif;
	margin: 20px 0;
}

.revcolumn{
	display: table-cell;
	padding: 10px;
	width: 33.33%;
	text-align: center;
	color: #3b5998;
	vertical-align: middle;
	border-right:10px solid #F4F6F6;
	border-left:10px solid #F4F6F6;
}

.rev-mention{
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	padding-right: 50px;
	
}

.revcolumn::before{
	content: "\201c";
	font-size: 60px;
	display: block;
	text-align: left;
	height: 40px;
}

.rev-mention::before {
	content: "\2014\0020";
}




/*End of the Review*/




/*End of the Body book*/




/*Footer*/
.footer{
	position: relative;
	clear: both;
	background: #26262D;
	opacity: 0.85;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 400px;
}

.paa{
	display: flex;
	justify-content: center;
	padding-top: 40px;

}


.paa2{
	padding-left: 30px;
	color: white;
	font-size: 30px;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding:15px 30px;
	margin-top: -10px;
	text-decoration: none;
}

.book:hover {
	opacity: 0.3;
}

.hr{
	display: flex;
	margin: 50px 0px;
	justify-content: center;
}
hr {
	color: white;
	width: 80%;
}

.foot{
	display: table;
	width: 70%;
	/*background: red;*/
	text-align: center;
	margin: 0 auto
}


.bottom{
	
	display: flex;
	justify-content: flex-start;
	text-align: left;
}

.bot{
	
	display: table-cell;
	padding: 10px;
	width: 33.33%;
}

.botbot{
	list-style: none;
	color: white;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 20px;
}

.bot2{
	letter-spacing: 2px;
	color: white;
	line-height: 30px;
}
.hour{
	padding-bottom: 20px;
}


.sm{
	display: inline-block;
	width: 50px;
	height: 70%;
	margin: 10px;
	color: white;
	overflow: hidden;
	position: relative;
}
.fab{
	line-height: 50px;
	font-size: 30px;
}

.dulo{
	width: 100%;
	height: 50px;
	text-align: center;
	background: #1C2833;
	line-height: 50px;
	color: white;
	letter-spacing: 3px;
	word-spacing: 2px;
}

.deep{
	font-size: 10px;
}