*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background-color: #F4F6F6;
	
}

/*Start of header and top background*/
.dropdown {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background-image: url(../images/contact.jpeg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.navtop{
	height: 100px;
	font-family: 'Source Serif Pro', serif;
}

.logo {
	padding: 5px 0 0 80px;
	width: 300px;
	height: auto;
}

.menu {
	width: 600px;
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
	display: inline;
	text-decoration: none;

}

.playlist{
	margin-top: 10px;
	padding: 1px;
	position: relative;
	list-style: none;
	display: inline-block;
	
}

.pl{
	display: block;
	letter-spacing: 1px;
	padding: 0 10px;
	color: black;
	text-decoration: none;
	line-height: 60px;
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 0px;
}

.pl:hover{
	opacity: 0.3;
}

.listdown{
	position: absolute;
	left: -20px;
	top: 50px;
	display: none;
	padding-top: 0;
}

.select:hover .listdown{
	display: block;
	background: white;
	height: 80px;
	width: 110px;
	margin-left: 20px;
	list-style: none;

}

.playlist1{
	display: block;
	width: 120px;
	float: left;
	height: 25px;
	display: list-item;
	position: relative;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;


}
.down {

	line-height: 30px;
	margin-left: 10px;
	color: black;
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
}

.down:hover{
	opacity: 0.3;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding-left: 30px;
	padding-right: 30px;

}

.locator{
	position: absolute;
	top: 25%;
	right: 0;
	z-index: 2;
	/*background: red;*/
	width: 450px;
	height: 200px;
}

.we{
	font-size: 40px;
	color: #2874A6;
}

.locate-me{
	color: white;
	text-decoration: none;
}

.locate-me:hover{
	opacity: 0.45;
}

/*End of header and top background*/



/*Start of button up arrow*/

.arrowup{
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 10;
}

.arrowup a{
	height: 40px;
	width: 40px;
	text-align: center;
	display: block;
	border-radius: 3px;
	cursor: pointer;
}

.arrowup a i {
	color: black;
	line-height: 40px;
	font-size: 40px;
}

.arrowup a i:hover {
	color: blue;
}
/*End of button up arr*/


/*Start of the Contact Us*/


.content-contact {
	width: 100%;
	height: 100px;
	color: black;
	padding-top: 30px;
	padding-left: 50px;
}

.contactus {
	width: 100%;
	height: 90vh;
	position: relative;
	align-self: center;
	display: flex;
	justify-content: center;
	
}


.contact-detail{
	padding-top: 3%;
	display: flex;
	justify-content: center;
	position: relative;
	width: 90%;
	height: 90%;

	margin: auto 0;
}


.directory{
	/*background: #273746;*/
	width: 50%;
	height: 90%;
	margin-right: 5px;
	
	display: table-cell;
	padding-top: 100px;
	text-align: center;
	line-height: 30px;
}
.directory p{
	margin-top: 25px;
	list-style: none;
	color: #273746;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 30px;
}

.questions{
	margin-left: 5px;
	width: 50%;
	height: 90%;
}


.gmap{
	width: 100%;
	height: 100%;
}


.folloup{
	padding-left: 100px;
	background: #85C1E9;
	line-height: 40px;
	padding-bottom: 50px;
}

.last{
	padding: 25px 0 25px 25px;
	letter-spacing: 2px;
	word-spacing: 5px;
	/*padding-left: 25px;*/
	font-size: 50px;
}

.undi{
	border-right: none;
	border-top: none;
	border-left: none;
	background: #85C1E9;
	width: 700px;
	height: 30px;
}

.inbox{
	
	background: #85C1E9;
	font-size: 20px;
	margin-top: 10px;
	width: 90%;
	height: 100px;

}
#submit{
	padding: 15px;
	border-bottom: 2px solid white;
	background: #2874A6;
	display: block;
	border-radius: 15px;
}
#submit:hover{
	opacity: 0.3;
}






/*End of Contact*/





/*Footer*/
.footer{
	position: relative;
	clear: both;
	background: #26262D;
	opacity: 0.85;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 400px;
}

.paa{
	display: flex;
	justify-content: center;
	padding-top: 40px;

}


.paa2{
	padding-left: 30px;
	color: white;
	font-size: 30px;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding:15px 30px;
	margin-top: -10px;
	text-decoration: none;
}

.book:hover {
	opacity: 0.3;
}

.hr{
	display: flex;
	margin: 50px 0px;
	justify-content: center;
}
hr {
	color: white;
	width: 80%;
}

.foot{
	display: table;
	width: 70%;
	/*background: red;*/
	text-align: center;
	margin: 0 auto
}


.bottom{
	
	display: flex;
	justify-content: flex-start;
	text-align: left;
}

.bot{
	
	display: table-cell;
	padding: 10px;
	width: 33.33%;
}

.botbot{
	list-style: none;
	color: white;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 20px;
}

.bot2{
	letter-spacing: 2px;
	color: white;
	line-height: 30px;
}
.hour{
	padding-bottom: 20px;
}


.sm{
	display: inline-block;
	width: 50px;
	height: 70%;
	margin: 10px;
	color: white;
	overflow: hidden;
	position: relative;
}
.fab{
	line-height: 50px;
	font-size: 30px;
}

.dulo{
	width: 100%;
	height: 50px;
	text-align: center;
	background: #1C2833;
	line-height: 50px;
	color: white;
	letter-spacing: 3px;
	word-spacing: 2px;
}

.deep{
	font-size: 10px;
}