*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background-color: #F4F6F6;
	
}

/*Start of header and top background*/
.dropdown {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background-image: url(../images/serv.jpeg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.navtop{
	height: 100px;
	font-family: 'Source Serif Pro', serif;
}

.logo {
	padding: 5px 0 0 80px;
	width: 300px;
	height: auto;
}

.menu {
	width: 600px;
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
	display: inline;
	text-decoration: none;

}

.playlist{
	margin-top: 10px;
	padding: 1px;
	position: relative;
	list-style: none;
	display: inline-block;
	
}

.pl{
	display: block;
	letter-spacing: 1px;
	padding: 0 10px;
	color: black;
	text-decoration: none;
	line-height: 60px;
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 0px;
}

.pl:hover{
	opacity: 0.3;
}

.listdown{
	position: absolute;
	left: -20px;
	top: 50px;
	display: none;
	padding-top: 0;
}

.select:hover .listdown{
	display: block;
	background: white;
	height: 80px;
	width: 110px;
	margin-left: 20px;
	list-style: none;

}

.playlist1{
	display: block;
	width: 120px;
	float: left;
	height: 25px;
	display: list-item;
	position: relative;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;


}
.down {

	line-height: 30px;
	margin-left: 10px;
	color: black;
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
}

.down:hover{
	opacity: 0.3;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding-left: 30px;
	padding-right: 30px;

}

.serv-btn{
	position: absolute;
	top: 40%;
	left: 3%;
	/*background: red;*/
	width: 400px;
	height: 80px;
	font-size: 40px;
	/*color: #2874A6;*/
}

.btn-s{
	color: #2874A6;
}

.btn-below{
	color: white;
	text-decoration: none;
}

.btn-below:hover{
	opacity: 0.45;
}

/*End of header and top background*/

/*Start of button up arrow*/

.arrowup{
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 10;
}

.arrowup a{
	height: 40px;
	width: 40px;
	text-align: center;
	display: block;
	border-radius: 3px;
	cursor: pointer;
}

.arrowup a i {
	color: black;
	line-height: 40px;
	font-size: 40px;
}

.arrowup a i:hover {
	color: blue;
}
/*End of button up arr*/

/*Start of the Main Services*/
main{
	display: flex;
	justify-content: center;
	align-self: center;
	min-height: 100vh;
	background: #FDFEFE;
}
.our{
	position: absolute;
	z-index: 2;
	top: 102%;
	font-size: 30px;
}
.container{
	height: 90vh;
	position: relative;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: minmax(100px, auto);
	margin: 40px;
	grid-auto-flow: dense;
	grid-gap: 10px;
	padding-top: 50px;

}

.box{
	background: #A9CCE3;
	padding: 20px;
	display: grid;
	font-size: 20px;
	place-items: center;
	text-align: center;
	color: #fff;
	transition: 0.5s;
	border-radius: 25px;

}

.box:hover{
	background: #58D68D;
	color: black;
	transform: scale(1.2);
}

.img-serv{
	position: relative;
	max-width: 100px;
	margin-bottom: 10px;
}

.box:nth-child(1){
	grid-column: span 1;
	grid-row: span 2;
}

.box:nth-child(2){
	grid-column: span 2;
	grid-row: span 1;
}

.box:nth-child(3){
	grid-column: span 1;
	grid-row: span 2;
}
.box:nth-child(4){
	grid-column: span 1;
	grid-row: span 2;
}
.box:nth-child(7){
	grid-column: span 2;
	grid-row: span 1;
}








/*End of the Main Services*/

/*Footer*/
.footer{
	position: relative;
	clear: both;
	background: #26262D;
	opacity: 0.85;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 400px;
}

.paa{
	display: flex;
	justify-content: center;
	padding-top: 40px;

}


.paa2{
	padding-left: 30px;
	color: white;
	font-size: 30px;
}

.book{
	border: 1px solid #435B77;
	background: #435B77;
	color: white;
	padding:15px 30px;
	margin-top: -10px;
	text-decoration: none;
}

.book:hover {
	opacity: 0.3;
}

.hr{
	display: flex;
	margin: 50px 0px;
	justify-content: center;
}
hr {
	color: white;
	width: 80%;
}

.foot{
	display: table;
	width: 70%;
	/*background: red;*/
	text-align: center;
	margin: 0 auto
}


.bottom{
	
	display: flex;
	justify-content: flex-start;
	text-align: left;
}

.bot{
	
	display: table-cell;
	padding: 10px;
	width: 33.33%;
}

.botbot{
	list-style: none;
	color: white;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 20px;
}

.bot2{
	letter-spacing: 2px;
	color: white;
	line-height: 30px;
}
.hour{
	padding-bottom: 20px;
}


.sm{
	display: inline-block;
	width: 50px;
	height: 70%;
	margin: 10px;
	color: white;
	overflow: hidden;
	position: relative;
}
.fab{
	line-height: 50px;
	font-size: 30px;
}

.dulo{
	width: 100%;
	height: 50px;
	text-align: center;
	background: #1C2833;
	line-height: 50px;
	color: white;
	letter-spacing: 3px;
	word-spacing: 2px;
}

.deep{
	font-size: 10px;
}